body {
  margin: 0;
}

/* Disable ugly boxes around images in IE10 */
a img{
  border: 0px;
}

.mdl-layout__header{
  min-height: 80px;
}

.mdl-layout__header-row{
  min-height: 80px;
  height: 80px;
}

::-moz-selection {
  background-color: rgb(9,173,236);
  color: #fff;
}

::selection {
  background-color: rgb(9,173,236);
  color: #fff;
}

.bst-search-box .mdl-textfield__input {
  color: rgba(0, 0, 0, 0.87);
}

.bst-header .mdl-menu__container {
  z-index: 50;
  margin: 0 !important;
}


.mdl-textfield--expandable {
  width: auto;
}

.bst-fab {
  /*position: absolute;*/
  right: 20%;
  bottom: -26px;
  z-index: 3;
  background: #64ffda !important;
  color: black !important;
}

.logo-style{
  width: 160px;
  padding-top: 20px;
}

.nav-text{
  color:black;
  margin-top:-47px;
  padding-left: 130px;
  font-weight: 500;
}

.bst-mobile-title {
  display: none !important;
}


.bst-logo-image {
  height: 60px;
  padding-top: 10px;
}


.bst-header {
  overflow: visible;
  background-color: white;
}

.bst-header .material-icons {
  color: #767777 !important;
}

.bst-header .mdl-layout__drawer-button {
  background: transparent;
  color: #767777;
}

.bst-header .mdl-navigation__link {
  color: #757575;
  font-weight: 700;
  font-size: 14px;
}

.bst-navigation-container {
  /* Simple hack to make the overflow happen to the left instead... */
  direction: rtl;
  -webkit-order: 1;
  -ms-flex-order: 1;
  order: 1;
  width: 500px;
  transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1),
  width 0.2s cubic-bezier(0.4, 0, 0.2, 1);
}

.bst-navigation {
  /* ... and now make sure the content is actually LTR */
  direction: ltr;
  -webkit-justify-content: flex-end;
  -ms-flex-pack: end;
  justify-content: flex-end;
  width: 800px;
}

.bst-search-box.is-focused + .bst-navigation-container {
  opacity: 0;
  width: 100px;
}


.bst-navigation .mdl-navigation__link {
  display: inline-block;
  height: 60px;
  line-height: 68px;
  background-color: transparent !important;
  border-bottom: 4px solid transparent;
}

.bst-navigation .mdl-navigation__link:hover {
  border-bottom: 4px solid #8bc34a;
}

.bst-search-box {
  -webkit-order: 2;
  -ms-flex-order: 2;
  order: 2;
  margin-left: 16px;
  margin-right: 16px;
}

.bst-more-button {
  -webkit-order: 3;
  -ms-flex-order: 3;
  order: 3;
}


.bst-drawer {
  border-right: none;
}

.bst-drawer-separator {
  height: 1px;
  background-color: #dcdcdc;
  margin: 8px 0;
}

.bst-drawer .mdl-navigation__link.mdl-navigation__link {
  font-size: 14px;
  color: #757575;
}

.bst-drawer span.mdl-navigation__link.mdl-navigation__link {
  color: #8bc34a;
}

.bst-drawer .mdl-layout-title {
  position: relative;
  background: #6ab344;
  height: 160px;
}

.bst-drawer .bst-logo-image {
  /*position: absolute;*/
  bottom: 16px;
}

.bst-be-together-section {
  position: relative;
  height: 180px;
  width: auto;
  background-color: rgb(9,173,236);
  background-size: cover;
}

.author-section {
  position: relative;
  height: 300px;
  width: auto;
  background-color: #5cb85c;
  background-size: cover;
}



.logo-font {
  font-family: 'Roboto', 'Helvetica', 'Arial', sans-serif;
  line-height: 1;
  color: #fff;
  font-weight: 500;
}


.bst-create-character {
  font-size: 21px;
  padding-top: 400px;
}

.bst-create-character a {
  text-decoration: none;
  color: #767777;
  font-weight: 300;
}

.bst-screen-section {
  position: relative;
  padding-top: 60px;
  padding-bottom: 80px;
}

.bst-screens {
  width: 100%;
  white-space: nowrap;
  overflow-x: auto;
}

.bst-screen {
  text-align: center;
}

.bst-screen .bst-link {
  margin-top: 16px;
  display: block;
  z-index: 2;
}

.bst-image-link {
  text-decoration: none;
}

.bst-wear {
  display: inline-block;
  width: 160px;
  margin-right: 32px;
}

.bst-wear .bst-screen-image {
  width: 40%;
  z-index: 1;
}


.bst-phone {
  display: inline-block;
  width: 64px;
  margin-right: 48px;
}

.bst-phone .bst-screen-image {
  width: 100%;
  z-index: 1;
}


.bst-tablet {
  display: inline-block;
  width: 110px;
  margin-right: 64px;
}

.bst-tablet .bst-screen-image {
  width: 100%;
  z-index: 1;
}

.bst-tablet .bst-link {
  display: block;
  z-index: 2;
}


.bst-tv {
  display: inline-block;
  width: 300px;
  margin-right: 80px;
}

.bst-tv .bst-screen-image {
  width: 100%;
  z-index: 1;
}


.bst-auto {
  display: inline-block;
  width: 300px;
}

.bst-auto .bst-screen-image {
  display: block;
  height: 300px;
  z-index: 1;
}

.left-align{
  text-align:left;
}

.center-align{
  text-align:center
}

.card-padding{
  width: 50%;
  padding-bottom:30px;
}

.footer-color{
  background-color: #f0ad4e;
}

.footer-padding{
  padding-top: 22px;
}

.kindle-logo{
  width: 132px;
  text-align: center;
  padding-top: 20px;
}

.amazon-logo{
  padding-top: 20px;
}

.about-author{
  background-color:#5cb85c;
  color:#fff
}

.about-author-text{
  text-align:center;
  padding-top: 30px;
  padding-bottom:30px;
}

.about-author-desc{
  padding-left:20px;
  text-align:justify-content;
}

.about-author-padding{
  color:#fff;
  padding-bottom:30px;
}

.everywhere{
  text-align:center;
  padding-top:30px;
}

.card-containter{
  width: 50%;
  padding-bottom:30px
}

.bst-wear-section {
  position: relative;
  height: 400px;
  color: white;
}

.main-alt-link{
  text-decoration: none;
  font-size: 16px;
}

.bst-wear-band {
  /*position: absolute;*/
  bottom: 0;
  width: 100%;
  text-align: center;
  background-color: #c73b42;
}

.bst-wear-band-text {
  max-width: 900px;
  margin-left: 25%;
  padding: 24px;
  text-align: left;
  color: white;
}

.bst-wear-band-text p {
  padding-top: 8px;
}

.power-text{
  font-size: 60px;
  padding-bottom: 36px;
  padding-top: 20px;
}

.bst-link {
  text-decoration: none;
  color: #8bc34a !important;
}

.bst-link:hover {
  color: #7cb342 !important;
}

.bst-link .material-icons {
  position: relative;
  top: -1px;
  vertical-align: middle;
}

.mdl-typography--font-thin {
  font-weight: 300!important;
}

.bst-alt-link {
  text-decoration: none;
  color: #fff !important;
  font-size: 16px;
}

.bst-alt-link:hover {
  color: #fff !important;
}

.bst-alt-link .material-icons {
  position: relative;
  top: 6px;
}

.bst-customized-section {
  text-align: center;
}

.bst-customized-section-text {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  padding: 80px 16px 0 16px;
}

.bst-customized-section-text p {
  padding-top: 16px;
}

.bst-customized-section-image {
  background: url('./images/building-great-startup-teams-cover.jpg') center top no-repeat;
  background-size: cover;
  height: 400px;
  background-position: 30% 20%;
}

.bst-more-section {
  padding: 80px 0;
  max-width: 1044px;
  margin-left: auto;
  margin-right: auto;
}

.bst-more-section .bst-section-title {
  margin-left: 12px;
  padding-bottom: 24px;
}

.bst-card-container {
}

.bst-card-container .mdl-card__media {
  overflow: hidden;
  background: transparent;
}

.bst-card-container .mdl-card__media img {
  width: 100%;
}

.bst-card-container .mdl-card__title {
  background: transparent;
  height: auto;
}

.bst-card-container .mdl-card__title-text {
  color: black;
  height: auto;
}

.bst-card-container .mdl-card__supporting-text {
  height: auto;
  color: black;
  padding-bottom: 56px;
}

.bst-card-container .mdl-card__actions {
  /*position: absolute;*/
  bottom: 0;
}

.bst-card-container .mdl-card__actions a {
  border-top: none;
  font-size: 16px;
}

.bst-footer {
  background-color: #fafafa;
  position: relative;
}

.bst-footer a:hover {
  color: #8bc34a;
}

.bst-footer .mdl-mega-footer--top-section::after {
  border-bottom: none;
}

.bst-footer .mdl-mega-footer--middle-section::after {
  border-bottom: none;
}

.bst-footer .mdl-mega-footer--bottom-section {
  position: relative;
}

.bst-footer .mdl-mega-footer--bottom-section a {
  margin-right: 2em;
}

.bst-footer .mdl-mega-footer--right-section a .material-icons {
  position: relative;
  top: 6px;
}


.bst-link-menu:hover {
  cursor: pointer;
}

.available-padding{
  position: absolute;
    bottom: 10px;
}

/* Desktop */
@media (min-width: 1241px) {
  .main-text{
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .main-text-font {
    max-width: 900px;
    margin-left: 20%;
    padding: 24px;
    text-align: left;
  }

  .bst-slogan {
    font-size: 60px;
    margin: 0 16px;
    padding-top: 40px;
  }

  .footer-slogan {
    font-size: 60px;
    margin: 0 16px;
  }

  .bst-sub-slogan {
    font-size: 20px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .available-everywhere{
    height: 240px;
  }
}

/**** Mobile layout ****/
@media (min-width: 300px) and (max-width: 600px) {

  .available-padding{
    padding-top: 0px;
  }

  .available-padding-2{
    padding-top: 0px;
  }

  .footer-slogan {
    font-size: 20px;
  }

  .bst-customized-section-image {
      background: url('./images/building-great-startup-teams-cover-mobile.jpg') center top no-repeat;
      background-size: cover;
      background-position: 30% 20%;
  }

  .available-everywhere{
    height: 650px;
  }

  .bst-be-together-section {
    height: 90px;
  }

  .bst-slogan {
    font-size: 20px;
    padding-top: 20px;
  }

  .bst-sub-slogan {
    font-size: 12px;
    padding-top: 10px;
  }

  .main-text-font {
    max-width: 900px;
    margin-left: 0%;
    padding: 24px;
    text-align: left;
  }

  .power-text {
    font-size: 45px;
    padding-bottom: 36px;
    padding-top: 20px;
  }

  .nav-text{
    display: none !important;
  }

  .bst-logo-image {
    height: 60px;
    padding-left: 50px;
    padding-top: 0px;
  }

 .mobile-hide{
   display: none !important;
 }
}

/**** Large Tablet layout ****/
@media (min-width: 841px) and (max-width: 1240px) {

  .about-author-desc {
      padding-left: 112px;
      text-align: justify-content;
      width: 500px;
  }

  .about-author-offline{
      width: 600px;
  }

  .hide-large-tablet{
    display: none;
  }

  .footer-padding {
      padding-top: 0px;
  }
  .main-text{
    bottom: 0;
    width: 100%;
    text-align: center;
  }

  .main-text-font {
    max-width: 900px;
    margin-left: 20%;
    padding: 24px;
    text-align: left;
  }

  .bst-slogan {
    font-size: 60px;
    margin: 0 16px;
    padding-top: 10px;
  }

  .footer-slogan {
    font-size: 60px;
    margin: 0 16px;
  }

  .bst-sub-slogan {
    font-size: 20px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .available-everywhere{
    height: 240px;
  }

}


/**** Tablet layout ****/
@media (min-width: 601px) and (max-width: 840px) {

  .available-padding{
    padding-top: 0px;
  }

  .available-padding-2{
    padding-top: 0px;
  }

  .footer-slogan {
    font-size: 30px;
  }

  .available-everywhere{
    height: 320px;
  }

  .main-text-font {
    max-width: 900px;
    padding: 24px;
    text-align: left;
    margin-left: 0%;
  }

  .bst-navigation-container {
    display: none;
  }

  .bst-mobile-title {
    display: block !important;
    /*position: absolute;*/
    left: calc(50% - 70px);
    transition: opacity 0.2s cubic-bezier(0.4, 0, 0.2, 1);
  }

  /* WebViews in iOS 9 break the "~" operator, and WebViews in OS X 10.10 break
  consecutive "+" operators in some cases. Therefore, we need to use both
  here to cover all the bases. */
  .bst.bst-search-box.is-focused ~ .bst-mobile-title,
  .bst-search-box.is-focused + .bst-navigation-container + .bst-mobile-title {
    opacity: 0;
  }

  .bst-more-button {
    display: none;
  }

  .bst-search-box.is-focused {
    width: calc(100% - 48px);
  }

  .bst-search-box .mdl-textfield__expandable-holder {
    width: 100%;
  }

  .bst-be-together-section {
    height: 100px;
  }

  .bst-slogan {
    font-size: 26px;
    margin: 0 16px;
    padding-top: 24px;
  }

  .bst-sub-slogan {
    font-size: 16px;
    margin: 0 16px;
    padding-top: 8px;
  }

  .bst-create-character {
    padding-top: 200px;
    font-size: 16px;
  }

  .bst-create-character img {
    height: 12px;
  }

  .bst-fab {
    display: none;
  }

  .bst-wear-band-text {
    margin-left: 0;
    padding: 16px;
  }

  .bst-footer .mdl-mega-footer--bottom-section {
    display: none;
  }
}
